@{
    ViewData["Title"] = "Delete Application";

}

@model ApplicationResponse

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete the record of @Model.Title? </h3>
<form method="post"asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="AllMoviesCollection" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="ApplicationId" />
</form>
