@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>


<img src="~/img/1.jpeg" />
<br />

<div>
    <a asp-controller="Home" asp-action="MyPodcasts">My Podcasts</a>
    <br />
    <a asp-controller="Home" asp-action="Movie">Movie</a>

</div>

<div>
    <a asp-controller= "Home" asp-action = "AllMoviesCollection">All Movies Collection</a>
</div>