@{
    ViewData["Title"] = "Movie";
}

@model WebApplication.Models.ApplicationResponse

<h1>Movie Information</h1>

<div>
    <form method="post">

        <div asp-validation-summary="All"></div>

        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (Category m in ViewBag.Categories)
            {
                <option value='@m.CategoryId'>@m.CategoryName</option>
            }
            </select>
        <br />

        <label asp-for="Title">Title:</label>
        <input asp-for="Title" /><br />

        <label asp-for="Year">Year:</label>
        <input asp-for="Year" /><br />

        <label asp-for="Director">Director:</label>
        <input asp-for="Director" /><br />

        <label asp-for="Rating">Rating:</label>
        <select id="Rating" asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
        <br />

        <label asp-for="Edited"></label>
        <select asp-for="Edited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <label asp-for="Lentto">Lent to:</label>
        <input asp-for="Lentto" /><br />

        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" /><br />

        <button type="submit">Submit</button>
    </form>
</div>
